.row0 {
    font-weight: bold;
    font-size: 1em;
    margin: 20px;
    border: 2px;
  }
tr{
  margin: 20px;
  border: 2px;
  height: 40px;
  border-color: black;
  border-style: solid;
  
  
}
.tableDiv{
  width: 100%;
  background-color: bisque;

}
table{
  background-color: bisque;
  text-align: center;
  width: 50%;
  margin:auto;
  border-color: black;
  border-style: solid;
} 

  