.row0 {
    font-weight: bold;
    font-size: 1em;
    margin: 20px;
    border: 2px;
  }
tr{
  margin: 20px;
  border: 2px;
  height: 40px;
  border-color: black;
  border-style: solid;
}
table{
  background-color: bisque;
  text-align: center;
} 
  